<h1 class="text-center display-2">Burgers!</h1>

<br><br>

<h4 class="text-center"><u>Burgers that are waiting to be eaten!</u></h4>

<br>

<div class="container">
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</div>

<h4 class="text-center"><u>Burgers that have been eaten!</u></h4>

<br>

<div class="container">
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</div>

<br>
<br>

<h4 class="text-center" id="burger-add"><u>Add a Burger</u></h4>
<br>
<form class="create-form text-center">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

<br>

  <button class="btn btn-danger" type="submit">Add Burger</button>
</form>
