<h1 class="text-center display-2">Burgers!</h1>

<br><br>

<h4 class="text-center">Burgers that are waiting to be eaten!</h4>

<div class="container">
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgers/burger-block sleep=true}}
    {{/unless}}
  {{/each}}
</div>

<h4 class="text-center">Burgers that have been eaten!</h4>

<div class="container">
  {{#each burgers}}
    {{#if eaten}}
      {{> burgers/burger-block sleep=false}}
    {{/if}}
  {{/each}}
</div>

<h4 class="text-center">Add a Burger</h4>
<form class="create-form text-center">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button class="btn btn-danger" type="submit">Add Burger</button>
</form>
