body {
  background: #95ec62;
  text-align: center;
}

/* h1, h2 {
} */

li {
  padding: 3px;
  margin: 3px;
  background: #62ec80;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 3px;
  margin: 3px;
  background: rgb(139, 21, 21);
}

.form-group {
  margin-bottom: 3px;
}
