body {
  background: #95ec62;
  text-align: center;
}

/* h1, h2 {
} */

img {
  width: 50%;
  height: 50%;
}



.label {
  font-weight: bold;
}


.form-group {
  margin-bottom: 3px;
}

#list-burger {
  color: wheat;
}

#burger-add {
  border-top-width: 3px;
  border-top-color: slateblue;
}